.errMsg{
    background: rgb(194, 53, 53);
    color: rgba(255, 255, 255, 0.781);
    text-align: center;
    padding: 8px ;
    letter-spacing: 0.3px;
    margin: 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
}

.successMsg{
    background: rgb(7, 177, 58);
    color: #fff9;
    text-align: center;
    padding: 8px ;
    letter-spacing: 0.3px;
    margin: 1rem;
    border-radius: 5px;
    font-size: 0.8rem;
}